.clearfix.margin-bottom-40
.row
  .col-md-12.text-center
    %h2 Vendors serving in your area
.row
  .col-md-3
    .panel.panel-grey
      .panel-body
        Filters
  .col-md-9
    - @service_areas.each do |service_area|
      -vendor = service_area.vendor
      -address = vendor.vaddress
      .panel.panel-red
        .panel-heading
          .panel-title
            %strong 
              = link_to vendor.name, service_area, class: 'white_font'
            .pull-right
              Star Rating and reviews
          -if !address.nil?
            =address.bldg_no
            ,
            =address.street_address.humanize
            ,
            %strong
              =address.location.humanize
              ,
            =address.city.humanize
        .panel-body
          Menu and other details
          %br
          more details

    =paginate @service_areas, theme: 'twitter-bootstrap-3'