.clearfix.margin-bottom-40
.row
	.col-md-10
		.panel.panel-red
			.panel-heading
				.pull-left
					=image_tag "http://upload.wikimedia.org/wikipedia/en/4/4a/Faaso%27s_logo.JPG", height:50,width:100
				%h4.white_font
					%strong
						=@vendor.name
				.pull-right
					Star Ratings
				%p.white_font
					-if !@address.nil?
						
						=@address.bldg_no
						,
						=@address.street_address.humanize
						,
						=@address.location.humanize
						,
						=@address.city.humanize

			.panel-body
				.row
					.col-md-12
						Some details
				.clearfix.margin-bottom-40
				.row.tab-v1
					%ul.nav.nav-tabs
						%li.active
							=link_to "Menu", '#menu', "data-toggle" => 'tab'
						%li
							=link_to "Reviews", '#reviews', "data-toggle" => 'tab'
						%li
							=link_to "Info", '#info', "data-toggle" => 'tab'
					.tab-content
						#menu.tab-pane.active
							.row.tab-v3
								.col-md-3
									%ul.nav.nav-pills.nav-stacked
										-@categories.each_with_index do |c,i|
											%li{style: 'list-style-type:none;', class: "#{'active' if i ==0}"}
												=link_to c.name, "##{c.id}", "data-toggle" => 'tab'	
								.col-md-9
									.tab-content.meal-box
										-@categories.each_with_index do |c,i|
											-meals = c.meals
											.tab-pane{id: c.id,class: "#{'active' if i ==0}"}
												-meals.each do |m|
													.meal-cont
														-items = m.items
														.row
															.col-md-9
																%p
																	%strong	
																		= m.name			
																	%br	
																	-items.each do |item|
																		=item.name
																		,
															.col-md-3.pull-right
																=select_tag :quantity, options_for_select(1..10)
																=link_to(fa_icon("plus-circle", text:"Add to cart", class: 'green'), add_to_shopping_cart_path(meal_id: m.id, vendor_id: @vendor.id), method:'post')
																
												
						#reviews.tab-pane
							Reviews
						#info.tab-pane
							Info
	.col-md-2
		Shopping cart
		
		-if @shopping_cart
			
			=render partial: 'shopping_cart_item', collection: @shopping_cart.shopping_cart_items
			=button_to 'Checkout', '#', class: 'btn btn-success'
		-else						
			Add items from menu


