@import "font-awesome";
.white_font{
	color:white !important;
}
.meal-box{
	background-color:white !important;
}
.meal-cont{
	padding-top:5px;
	padding-bottom:5px;
	padding-left:5px;
	border-bottom:1px solid #DDDDDD;
}
