/ === Footer ===
.footer
  .container
    .row
      .col-md-4.md-margin-bottom-40
        / About
        .headline
          %h2 About
        %p.margin-bottom-25.md-margin-bottom-40 
          Edunable is a platform to provide internships with leading organizations in different field of studies.
      / /col-md-4
      .col-md-4.md-margin-bottom-40
      
      / /col-md-4
      .col-md-4
        / Monthly Newsletter
        .headline
          %h2 Contact Us
        %address.md-margin-bottom-40
          25, Lorem Lis Street, Orange
          %br/
          California, US
          %br/
          Phone: 800 123 3456
          %br/
          Fax: 800 123 3456
          %br/
          Email:
          %a{href: "mailto:info@anybiz.com"} info@anybiz.com
      / /col-md-4
    / /row
  / /container
/ /footer
/ === End Footer ===
/ === Copyright ===
.copyright
  .container
    .row
      .col-md-6
        %p.copyright-space
          2013 © Edunable. ALL Rights Reserved.
          %a{href: "#"} Privacy Policy
          |
          %a{href: "#"} Terms of Service
      .col-md-6
        %a{href: "index.html"}
          %img#logo-footer.pull-right{alt: "", src: "assets/img/logo2-default.png"}/
    / /row
  / /container
/ /copyright
/ === End Copyright ===
/ JS Global Compulsory